.template-form,
.create-poll {
  height: auto;
  min-height: 100vh;
  background-color: #f1f1f1;
  font-family: "Nunito", sans-serif;
}
.template-form .layout,
.create-poll .layout {
  padding: 50px;
}
.template-form .layout .header input,
.create-poll .layout .header input {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.template-form .layout .header input[name=description],
.create-poll .layout .header input[name=description] {
  font-size: 20px;
}
.template-form .layout .header input:focus,
.create-poll .layout .header input:focus {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
}
@media screen and (max-width: 576px) {
  .template-form .layout .header,
  .create-poll .layout .header {
    display: flex;
    flex-direction: column-reverse;
  }
}
.template-form .layout .header .poll-image,
.create-poll .layout .header .poll-image {
  display: flex;
  justify-content: flex-end;
}
.template-form .layout .header .poll-image label,
.create-poll .layout .header .poll-image label {
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.template-form .layout .header .poll-image label img,
.create-poll .layout .header .poll-image label img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  width: 50%;
}
.template-form .layout .header .poll-image label .shadow,
.create-poll .layout .header .poll-image label .shadow {
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 10px gray;
  width: 300px;
}
.template-form .layout .header .poll-image label .delete-image-btn,
.create-poll .layout .header .poll-image label .delete-image-btn {
  position: absolute;
  z-index: 999;
  right: 5px;
  top: 5px;
  border: none;
  background: none;
}
.template-form .layout .header .poll-image label .delete-image-btn img,
.create-poll .layout .header .poll-image label .delete-image-btn img {
  height: 25px;
  width: 25px;
  color: #00bf63;
  background-color: #dc3545;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 576px) {
  .template-form .layout .header .poll-image label,
  .create-poll .layout .header .poll-image label {
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
  }
  .template-form .layout .header .poll-image label img,
  .create-poll .layout .header .poll-image label img {
    width: 100%;
    box-shadow: 0px 0px 10px gray;
  }
  .template-form .layout .header .poll-image label .shadow,
  .create-poll .layout .header .poll-image label .shadow {
    border: none;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .template-form .layout .header .poll-image label,
  .create-poll .layout .header .poll-image label {
    width: 100%;
  }
  .template-form .layout .header .poll-image label .shadow,
  .create-poll .layout .header .poll-image label .shadow {
    width: 100%;
  }
}
.template-form .layout .settings,
.create-poll .layout .settings {
  padding: 10px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 991px) {
  .template-form .layout .settings .row,
  .create-poll .layout .settings .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .template-form .layout .settings .row > div:not(:last-child),
  .create-poll .layout .settings .row > div:not(:last-child) {
    border-right: none !important;
  }
}
.template-form .layout .settings input:checked,
.create-poll .layout .settings input:checked {
  border-color: transparent;
}
.template-form .layout .settings input:focus,
.create-poll .layout .settings input:focus {
  box-shadow: none !important;
}
.template-form .layout .settings .btn-success,
.create-poll .layout .settings .btn-success {
  background-color: #00bf63;
  border: none;
}
.template-form .layout .settings .btn-success:active,
.create-poll .layout .settings .btn-success:active {
  background-color: #00783e;
}
.template-form .layout .settings > .row > div:not(:last-child),
.create-poll .layout .settings > .row > div:not(:last-child) {
  border-right: 1px solid lightgray;
}
.template-form .questions,
.create-poll .questions {
  margin-top: 10px;
  border-radius: 10px;
}
.template-form .questions .add-first-question,
.create-poll .questions .add-first-question {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-form .questions .add-first-question button,
.create-poll .questions .add-first-question button {
  border: none;
  border-radius: 5px;
  width: 150px;
  color: white;
  background-color: #00bf63;
}
.template-form .questions .add-first-question button:active,
.create-poll .questions .add-first-question button:active {
  background-color: #00783e;
}
.template-form .questions .add-question,
.create-poll .questions .add-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 5px;
}
.template-form .questions .add-question button,
.create-poll .questions .add-question button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #00bf63;
}
.template-form .questions .add-question button img,
.create-poll .questions .add-question button img {
  height: 15px;
  width: 15px;
}
.template-form .questions .add-question button:active,
.create-poll .questions .add-question button:active {
  background-color: #00783e;
}
.template-form .questions .add-question p,
.create-poll .questions .add-question p {
  display: flex;
  justify-content: center;
  color: black;
  width: 150px;
  font-size: 12px;
}
.template-form .questions .new-question,
.create-poll .questions .new-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.template-form .questions .new-question .question,
.create-poll .questions .new-question .question {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .template-form .questions .new-question .question,
  .create-poll .questions .new-question .question {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.template-form .questions .new-question .question input:focus,
.create-poll .questions .new-question .question input:focus {
  box-shadow: none !important;
}
@media screen and (min-width: 767px) {
  .template-form .questions .new-question .question .question-content,
  .create-poll .questions .new-question .question .question-content {
    padding: 15px;
  }
}
.template-form .questions .new-question .question .question-content .question-answers,
.create-poll .questions .new-question .question .question-content .question-answers {
  gap: 10px;
}
.template-form .questions .new-question .question .question-content .question-answers input[type=text],
.create-poll .questions .new-question .question .question-content .question-answers input[type=text] {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid lightgray;
}
.template-form .questions .new-question .question .question-content .question-answers input[type=text]:-moz-read-only, .create-poll .questions .new-question .question .question-content .question-answers input[type=text]:-moz-read-only {
  border: 0;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
}
.template-form .questions .new-question .question .question-content .question-answers input[type=text]:read-only,
.create-poll .questions .new-question .question .question-content .question-answers input[type=text]:read-only {
  border: 0;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
}
.template-form .questions .new-question .question .question-content .question-answers input:disabled,
.create-poll .questions .new-question .question .question-content .question-answers input:disabled {
  border-color: gray;
}
.template-form .questions .new-question .question .question-content .question-answers .answer input[type=text]:disabled,
.create-poll .questions .new-question .question .question-content .question-answers .answer input[type=text]:disabled {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.template-form .questions .new-question .question .question-content .question-answers .answer button,
.create-poll .questions .new-question .question .question-content .question-answers .answer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #dc3545;
}
.template-form .questions .new-question .question .question-content .question-answers .answer button:active,
.create-poll .questions .new-question .question .question-content .question-answers .answer button:active {
  background-color: #8f252f;
}
.template-form .questions .new-question .question .question-content .question-answers .answer:hover,
.create-poll .questions .new-question .question .question-content .question-answers .answer:hover {
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.3);
}
.template-form .questions .new-question .question .question-content .question-answers .answer-adder button,
.create-poll .questions .new-question .question .question-content .question-answers .answer-adder button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #00bf63;
}
.template-form .questions .new-question .question .question-content .question-answers .answer-adder button:active,
.create-poll .questions .new-question .question .question-content .question-answers .answer-adder button:active {
  background-color: #00783e;
}
@media screen and (min-width: 767px) {
  .template-form .questions .new-question .question .question-settings,
  .create-poll .questions .new-question .question .question-settings {
    padding: 15px;
  }
}
.template-form .questions .new-question .question .question-settings input:checked,
.create-poll .questions .new-question .question .question-settings input:checked {
  border-color: transparent;
}
.template-form .questions .new-question .question .question-settings input:focus,
.create-poll .questions .new-question .question .question-settings input:focus {
  box-shadow: none !important;
}
.template-form .questions .new-question .question .question-settings .dropdown,
.create-poll .questions .new-question .question .question-settings .dropdown {
  padding: 0;
}
.template-form .questions .new-question .question .question-settings .dropdown .dropdown-menu,
.create-poll .questions .new-question .question .question-settings .dropdown .dropdown-menu {
  margin-top: 1px;
  width: 100%;
}
.template-form .questions .new-question .question .question-settings .dropdown .dropdown-menu button,
.create-poll .questions .new-question .question .question-settings .dropdown .dropdown-menu button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.template-form .questions .new-question .question .question-settings .dropdown .dropdown-menu button img,
.create-poll .questions .new-question .question .question-settings .dropdown .dropdown-menu button img {
  width: 15px;
}
.template-form .questions .new-question .question .question-settings .dropdown .dropdown-menu > button:active,
.create-poll .questions .new-question .question .question-settings .dropdown .dropdown-menu > button:active {
  background-color: #00bf63;
}
.template-form .questions .new-question .question .question-settings .dropdown > button,
.create-poll .questions .new-question .question .question-settings .dropdown > button {
  width: 100vh;
  background-color: #00bf63;
  border: none;
}
.template-form .questions .delete-question-btn,
.create-poll .questions .delete-question-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .template-form .questions .delete-question-btn,
  .create-poll .questions .delete-question-btn {
    margin-top: 10px;
  }
}
.template-form .questions .delete-question-btn button,
.create-poll .questions .delete-question-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #dc3545;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.template-form .questions .delete-question-btn button img,
.create-poll .questions .delete-question-btn button img {
  height: 25px;
  width: 25px;
}
.template-form .questions .delete-question-btn button:active,
.create-poll .questions .delete-question-btn button:active {
  background-color: #8f252f;
}
.template-form .validation-msg,
.create-poll .validation-msg {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: red;
  font-weight: bolder;
}
.template-form .validation-msg:not(:last-child),
.create-poll .validation-msg:not(:last-child) {
  margin-bottom: 10px;
}/*# sourceMappingURL=CreatePoll.css.map */