.logs {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: calc(50% - 49vw);
    width: 98vw;
    height: 99vh;
    border: 1px solid black;
    background-color: white;
    overflow: scroll;

    .header {
        height: 10%;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .body {
        height: 90%;
        padding: 0px 10px;

        select:focus {
            box-shadow: none;
        }

        .content {
            max-height: 750px;
            margin-top: 50px;
            overflow: auto;

            table {
                tbody {
                    tr {
                        td {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}