.dashboard-header {
    margin-top: 10px;

    .logo {
        max-width: 200px;
        height: auto;
    }
    
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 10px;
        font-size: 20px;
    }
    
    @media screen and (max-width: 768px) {
        .nav-links {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}