.dashboard-header {
    background-color: white;
    box-shadow: 0 0 7px black;
    z-index: 9999;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 5px;

    .logo {
        max-width: 200px;
        height: auto;
    }
    
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 10px;
        font-size: 20px;
    }
    
    @media screen and (max-width: 768px) {
        .nav-links {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}