.form-Page {
    position: relative;
    top: 80px;
    background-color: #f1f1f1;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 30px;

    .form-layout {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;

    }

    .form-inputs {
        opacity: 0.5;
        height: 25px;
        width: 70%;
    }

    .border1 {
        border: black solid 1px;
    }

    .rows {
        height: 50%;
        margin: 0;

    }

    .form-name-input {
        border: none !important;
        background-color: #f1f1f1;
        font-size: 30px;
        padding-inline-start: 10px;

    }

    .form-description-input {
        border: none;
        background-color: #f1f1f1;
        font-size: 15px;
    }

    .delete-question-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #dc3545;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    .form-questions {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: auto;
        padding-bottom: 10px;
        margin: 0;
        padding: 20px;

        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
            // gap: 10px;
            align-items: space-between;
        }
    }

    .form-settings {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        padding-bottom: 10px;

        margin: 0;
    }

    .question-title {

        height: auto;
        background-color: #f1f1f1;
        font-size: 15px;
        border-radius: 5px 5px 5px 5px;


        @media screen and (max-width: 600px) {
            margin-top: 20px;

        }
    }

    .dropdown {
        width: 100%;
    }

    .dropdown>button {
        // width: 100%;
        background-color: #00bf63;
        border: none;
    }

    // .dropdown>.dropdown-menu {
    //     // width: 100%;
    // }

    .form-name-image {
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-image {
        display: flex;
        // border: black 1px solid;
        flex-direction: row-reverse;
        position: relative;

        @media screen and (max-width: 600px) {
            justify-content: start;
            margin-top: 10px;

        }

        img {
            width: 100%;
            height: 150px;
            cursor: pointer;
            object-fit: cover;
            border-radius: 10px 10px 10px 10px;

            @media screen and (max-width: 575px) {
                height: 100px;

            }
        }
    }

    .delete-image-btn {
        position: absolute;
        z-index: 9999;
        right: 0;
        top: 3px;
        border: none;
        background: none;

        img {
            height: 25px;
            width: 25px;
            color: #00bf63;
            background-color: #dc3545;
            border: none;
        }
    }

    .question-title:focus {
        background-color: #f1f1f1;
    }

    .form-name-input:focus,
    .question-title:focus,
    .form-inputs:focus,
    .form-description-input:focus {
        box-shadow: none !important;
    }
}

/*# sourceMappingURL=Profile.css.map */