.dashboard-search {
    input {
        background: url(/public/assets/images/search.svg) no-repeat 15px center;
        background-size: 30px;
        width: calc(80vw - 250px);
        height: 60px;
        text-indent: 20px;
        background-color: lightgrey;
        border: none;
        border-radius: 10px;
    }
    
    input::placeholder {
        color: black;
        text-indent: 50px;
    }

    input:focus {
        text-indent: 50px;
        outline: none;
    }

    @media screen and (max-width: 767px) {
        input {
            width: calc(100vw - 160px);
        }
    }
}