.dashboard-search {
    input {
        background: url(/public/assets/images/search.svg) no-repeat 10px center;
        background-size: 30px;
        width: calc(80vw - 350px);
        height: 60px;
        text-overflow: ellipsis;
        background-color: rgba(211, 211, 211, 0.479);
        border: none;
        border-radius: 0.375rem;
        padding:0 20px 0 50px;
    }
    
    input::placeholder {
        color: black;
    }

    input:focus {
        outline: none;
    }

    @media screen and (max-width: 767px) {
        input {
            width: calc(100vw - 250px);
            height: 40px;
        }
    }
}