.logs {
    overflow: scroll;

    .header {
        height: 10%;
        // padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .body {
        height: 90%;

        select:focus {
            box-shadow: none;
        }

        .content {
            max-height: 550px;
            margin-top: 50px;
            overflow: auto;

            table {
                user-select: text;
                tbody {
                    tr {
                        td {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}