.App {
    min-width: inherit;
    min-height: inherit;
}

.Form_Page {
    background-color: #737373;
}

.loading {
    position: relative;
    top: calc(50vh - 50px);
}

.go-back {
    z-index: 9999;
    position: fixed;
    top: 100px;
    left: 30px;
}

.go-back > a {
    color: #00bf63;
}