.App {
    position: relative;
    top: 80px;
    min-width: inherit;
    min-height: inherit;
}

.loading {
    position: relative;
    top: calc(40vh - 50px);
}

.go-back {
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 20px;
}

.go-back>button {
    color: #00bf63;
    text-decoration: underline;
    border: none;
    background-color: transparent;
}

.general-err-msg {
    border-radius: 5px;
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}